.container{
    height: 100%;
    background: url('../../../assets/bg.jpg');
    background-size: cover;
    display: flex;  
}



.form-container{
    flex: 3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-check-container{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 600px;
    width: 700px;
}
