mat-form-field{
    margin-left: 20px;
    font-size: 17px;
}

button{
    margin-left: 10px;
}

.header{
    text-align: center;
    padding-bottom: 40px;
}

.title{
    font-size: 47px;
    font-weight: bold;
    color: #3f51b5;
}

.subtitle{
    font-size: 18px;
    margin-top: 24px;
    //font-weight: bold;
}

mat-checkbox{
    font-size: 17px;
}

.comments{
    width: 430px;
}

