mat-horizontal-stepper{
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
}

mat-form-field{
    margin-left: 20px;
    font-size: 17px;
}

button{
    margin-left: 10px;
}

.header{
    padding-bottom: 40px;
}

.title{
    font-size: 47px;
    font-weight: bold;
    color: white;
}

.subtitle{
    font-size: 18px;
    margin-top: 24px;
    //font-weight: bold;
}

mat-checkbox{
    font-size: 17px;
}

.comments{
    width: 430px;
}

.comments-area{
    resize: none;
}

