<div class="header">
    <div class="title">טופס בקשת אישור כניסה</div>
    <div class="subtitle">מלא את כל השדות על מנת לעבור לשלב הבא</div>
</div>
<mat-horizontal-stepper [linear]='isLinear' #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>פרטי המבקש/ת</ng-template>
            <mat-form-field appearance="fill" class="name">
                <mat-label>שם מלא</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="id">
                <mat-label>מספר ת"ז</mat-label>
                <input matInput formControlName="id" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>מספר לוחית זיהוי</mat-label>
                <input matInput formControlName="licensePlateNumber" required>
            </mat-form-field>
            <div>
                <button mat-flat-button color="primary" matStepperNext>הבא</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>פרטי הבקשה</ng-template>
            <div>
                <mat-form-field  appearance="fill">
                    <mat-label>בחר מתחם</mat-label>
                    <input matInput formControlName="compound" [matAutocomplete]="compounds" required>
                    <mat-autocomplete autoActiveFirstOption #compounds="matAutocomplete" [displayWith] = "getOptionName">
                    <mat-option *ngFor="let option of filteredCompounds | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>בחר ענף</mat-label>
                    <input matInput formControlName="branch" [matAutocomplete]="branches" required>
                    <mat-autocomplete autoActiveFirstOption #branches="matAutocomplete" [displayWith] = "getOptionName">
                    <mat-option *ngFor="let option of filteredBranches | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-checkbox formControlName="isEscorted">האם נדרש ליווי</mat-checkbox>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>תאריך תחילה</mat-label>
                    <input matInput [matDatepicker]="startTime" formControlName="startTime" required>
                    <mat-datepicker-toggle matSuffix [for]="startTime"></mat-datepicker-toggle>
                    <mat-datepicker #startTime></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>תאריך סוף</mat-label>
                    <input matInput [matDatepicker]="endTime" formControlName="endTime" required>
                    <mat-datepicker-toggle matSuffix [for]="endTime" ></mat-datepicker-toggle>
                    <mat-datepicker #endTime></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="comments">
                    <mat-label>הערות</mat-label>
                    <textarea matInput formControlName="comments"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" matStepperPrevious>הקודם</button>
                <button mat-flat-button color="primary" (click)="sendRequest()" matStepperNext>הגש בקשה</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>סיום</ng-template>
        <p>בקשתך התקבלה.</p>
        <p>מספר הבקשה: {{this.requestId}}</p>
        <div>
            <button mat-button mat-flat-button color="primary" matStepperPrevious>הקודם</button>
            <button mat-button mat-flat-button color="primary" (click)="stepper.reset()">התחל מחדש</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>