<div class="header">
  <div class="title">התחבר למערכת</div>
</div>
<form [formGroup]="loginForm">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>מספר תעודת זהות</mat-label>
      <input matInput formControlName="id" [errorStateMatcher]="matcher" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>סיסמה</mat-label>
      <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher" required>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="login()">התחבר</button>
  </div>
</form>
