.title{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.check{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.44);
}



